.catalogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messageText {
  display: flex;
  margin-top: 56px;
  margin-bottom: 5px;
}

.button {
  padding: 12px 38px;
  margin: 80px;
  border-radius: 12px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white);
  border: 1px solid var(--button);
  color: var(--main);
}
.button:hover,
.button:focus {
  border: 1px solid var(--button-hover);
}
