:root {
  --font-family: 'Manrope', sans-serif;
  --second-family: 'Inter', sans-serif;
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

body {
  font-family: var(--font-family);
  color: var(--main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

html {
  scroll-behavior: smooth;
}

/** ------------- RESET STYLES ------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

input {
  border: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
